@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap';

@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-ExtraBold.woff2") format('woff2');
    src: url("../fonts/Gilroy-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Gilroy-Light.woff2") format('woff2');
    src: url("../fonts/Gilroy-Light.woff") format('woff');
}